/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
Tertiary Color (Teal): #05646e
Greensih Color (Aquamarine): #489c79
 */

body {
  font-family: 'Roboto Slab', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1{
  font-size: 30px;
  font-weight: 650;
}

h2{
  font-size: 24px;
  font-weight: 650;
}

h3{
  font-size: 18px;
  font-weight: 650;
}

a{
  color: #357b70;
}

a:visited{
  color: #05676e;
}

a:hover, a:focus{
  text-decoration: none; /*No underlining when hovering over a link*/
}

a:active{
  color: #489c79;
}

button{
  border: none;  /* overwrites browser defaults and resets the border */
  font-family: inherit;  /* takes the font from the outer container */
  background-color: #357b70;  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  color: white;
  text-decoration: none;
  padding: 10px;  /*adds spacing to the button (this will be discussed more in-depth later) */
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3)  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

button{
  /*overwrites browser defaults and resets the border*/
  border: none;
  display: inline-block;
  /*takes the font from the outer container*/
  font-family: inherit;
  /*styles the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /*width of the border, type, color*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button{
  /*overwrites browser defaults and resets the border*/
  border: none;
  display: inline-block;
  /*takes the font from the outer container*/
  font-family: inherit;
  /*styles the button*/
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /*width of the border, type, color*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus{
  /*lets the mouse appear as a hand when hovering over the button*/
  cursor: pointer;
  /*reduces the opacity of the button to 80%*/
  opacity: 0.8;
}

.navigation-list__item--active{
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid red;
}

/*aligning the page body to the page header*/
.page-body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
}

.page-body__item{
  margin: auto;
  position: relative;
  left: 20px;
  text-align: center;
}

.proj-body__item{
  position: relative;
  margin-left: 20px;
}

.page-buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
}

.page-header__item{
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
}

.page-header__item:last-child{
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list li{
  display: inline-block;
  margin-left: 15px;
}

.page-footer{
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page-aboutme{            /*is it possible to use flexbox to code this part?*/
  position: relative;
  left: 20px;
  text-align: center;
}

.page-table{
  display: flex;
  justify-content: center;
}

.contact-info{
  position: relative;
  top: 20px;
  left: 20px;
}

.contact-form{
  position: relative;
  top: 20px;
  left: 20px;
}

.aboutme-list{
  list-style-type: none;
}

.aboutme-button{
  text-align: center;
}

.city-section{
  text-align: center;
}

.page-gridsection{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
}

.grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item{
  background-color: lightgray;
  padding: 5px;
}
